<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThnkpUHUWOsI2GmU4f5R0vOxT6cJ09q-ggww&usqp=CAU"></div>
<div><h1>Coach Answers</h1></div>
<div><p><%= @answer %></p></div>
<div><%= link_to "Ask another question", ask_path %></div>


<%# <% def coach_answer(answer)
    if answer.downcase == 'i am going to work right now!'
      ''
    elsif answer.end_with?('?')
      'Silly question, get dressed and go to work!'
    else
      'I dont care, get dressed and go to work!'
    end
  # end %>
