<div class="banner"><h1>Stupid Coaching</h1></div>
<div><p><strong>Ask your coach anything</strong></p></div>
<div><form action="<%= answer_path %>" method="get">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form></div>
